<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpe.ssa.mapper.SpcifyShoesMapper">
	<sql id="Base_Column_List">
		spsid,sp_tid,tname,sp_bid,bname,spsseq,spsname,spsprices,spscontent,spspartnum,spspartinfo,spsgender,spscss,spremarks
	</sql>
	<select id="selectSpcShoesNum"  resultType="java.lang.Integer">
		SELECT COUNT(spsid)
		FROM spcify_shoes
	</select>
	<select id="selectSpcShoes4List" parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.SpcifyShoes">
		SELECT
		<include refid="Base_Column_List"/>
		FROM spcify_shoes,types,brands
		WHERE sp_tid=tid AND sp_bid=bid
		ORDER BY spsid
		LIMIT #{index},10
	</select>
	<select id="selectSpcShoeDetailById" parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.SpcifyShoes">
		SELECT <include refid="Base_Column_List"/>
		FROM spcify_shoes,types,brands
		WHERE sp_tid=tid AND sp_bid=bid AND spsid=#{spsid}
	</select>
</mapper>