<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpe.ssa.mapper.SpcifyShoesMapper">
	<sql id="Base_Column_List">
		bid,bname,bsex,bstate,bremarks
	</sql>
	<select id="selectSpcShoesNum"  resultType="java.lang.Integer">
		SELECT COUNT(bid)
		FROM brands
	</select>
	<select id="selectSpcShoes4List" parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.Brands">
		SELECT
		<include refid="Base_Column_List"/>
		FROM brands
		ORDER BY bid
		LIMIT #{index},10
	</select>
	<select id="selectSpcShoeDetailById" parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.Brands">
		SELECT <include refid="Base_Column_List"/>
		FROM brands WHERE bid=#{bid}
	</select>
</mapper>