<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpe.ssa.mapper.TypesMapper">
	<sql id="Base_Column_List">
		tid,tname,tremarks,tdelete
	</sql>
	<select id="selectTypesNum"  resultType="java.lang.Integer">
		SELECT COUNT(tid)
		FROM types
	</select>
	<select id="selectTypes4List" parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.Types">
		SELECT
		<include refid="Base_Column_List"/>
		FROM types
		ORDER BY tid
		LIMIT #{index},10
	</select>
	<select id="selectTypeDetailById" parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.Types">
		SELECT tid,tname,tremarks,tdelete
		FROM types WHERE tid=#{tid}
	</select>
</mapper>